<section class="mat-typography">
  <header>
    <div class="container">
      <div class="logo">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">BookLibrary</a>
    </div>
    <nav>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a>
      <a routerLink="/libraries" routerLinkActive="active" ariaCurrentWhenActive="page">Libraries</a>
    </nav>
    <a routerLink="/auth" routerLinkActive="active" ariaCurrentWhenActive="page" class="login-button">Authenticate</a>
  </div>
  </header>
</section>