.form-container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 1rem;

  .add-book-form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 350px;

      textarea {
        height: 75px;
      }
    }

    .form-button {
      background-color: #3f51b5;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      font-size: 16px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #5c6bc0;
        transform: scale(1.05);
      }

      &:active {
        background-color: #3949ab;
        transform: scale(0.95);
      }
    }
    
    .alert {
      max-width: 300px;
      color: #E53935;
    }
  }
}

// CSS hack for misalignment of calendar icon
::ng-deep mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button.mat-button-base {
  position: absolute;
  top: -15px;
  right: 0px;
}
