<div class="form-container">
  <form class="add-book-form" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="textarea">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Page count</mat-label>
      <input matInput formControlName="pageCount">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select>
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rating</mat-label>
      <input matInput formControlName="rating">
    </mat-form-field>

    <mat-form-field appearance="fill" class="date-picker">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>    

    <mat-form-field appearance="fill" class="mt-16">
      <mat-label>Author Id</mat-label>
      <input matInput formControlName="authorId">
    </mat-form-field>

    <button type="submit">
      Submit
    </button>
  </form>
</div>