/* Global styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;

  &:hover,
  &:visited,
  &:active {
    color: #fff;
  }
}

/* Class based styles */
.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px !important;
}
