<div class="books-container">
  <div class="form-group mb-16">
    <label for="genreSelect">Select Genre: </label>
    <select class="form-control" id="genreSelect" [(ngModel)]="selectedGenre">
      <option value="">All</option>
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
  </div>
  <div *ngIf="books === []">Loading books...</div>

  <ng-container *ngFor="let book of books | filterByGenre:selectedGenre">
    <app-book [book]="book"></app-book>
  </ng-container>
</div>